<div class="container py-3">
    <header>
        <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center link-body-emphasis text-decoration-none">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-bag-x"
                    viewBox="0 0 20 16">
                    <path fill-rule="evenodd"
                        d="M6.146 8.146a.5.5 0 0 1 .708 0L8 9.293l1.146-1.147a.5.5 0 1 1 .708.708L8.707 10l1.147 1.146a.5.5 0 0 1-.708.708L8 10.707l-1.146 1.147a.5.5 0 0 1-.708-.708L7.293 10 6.146 8.854a.5.5 0 0 1 0-.708z" />
                    <path
                        d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z" />
                </svg>

                <span class="fs-4">APP SHOP</span>
            </a>

            <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
                {{#if isProducts}}
                <a class="me-3 py-2 link-body-emphasis" href="/products">Product</a>
                {{else}}
                <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/products">Product</a>
                {{/if}}

                {{#if isAdd}}
                <a class="me-3 py-2 link-body-emphasis" href="/add">Add</a>
                {{else}}
                <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/add">Add</a>
                {{/if}}

                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                    {{#if token}}
                    <button type="button" class="btn btn-danger active">
                        <a class="text-light text-decoration-none" href="/logout">Logout</a>
                    </button>
                    {{else}}
                    {{#if isLogin}}
                    <button type="button" class="btn btn-primary">
                        <a class="text-light text-decoration-none" href="/login">Login</a>
                    </button>
                    {{else}}
                    <button type="button" class="btn btn-primary active">
                        <a class="text-light text-decoration-none" href="/login">Login</a>
                    </button>
                    {{/if}}
                    

                    {{#if isRegister}}
                    <button type="button" class="btn btn-success">
                        <a class="text-light text-decoration-none active" href="/register">Register</a>
                    </button>
                    {{else}}
                    <button type="button" class="btn btn-success">
                        <a class="text-light text-decoration-none" href="/register">Register</a>
                    </button>
                    {{/if}}
                    {{/if}}

                </div>
            </nav>
        </div>
    </header>

</div>